[submodule "lib/bitser"]
	path = lib/bitser
	url = https://github.com/gvx/bitser
[submodule "lib/bump"]
	path = lib/bump
	url = https://github.com/kikito/bump.lua
[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/vrld/hump
[submodule "lib/sti"]
	path = lib/sti
	url = https://github.com/karai17/Simple-Tiled-Implementation
[submodule "lib/talkies"]
	path = lib/talkies
	url = https://github.com/tanema/talkies.git
